body {
  font-family: merriweather, serif;
  font-weight: 900;
  font-style: normal;
  background-color: #eeede7;
  align-items: center;
  text-align: center;
  color: #48466d;
}

nav {
  background-color: #46cdcf;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #48466d;
  margin-left: 40px;
}

.Content {
  width: 70%;
  margin: 0 auto;
  align-content: center;
  text-align: left;
}

#About {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

#About img {
  width: 18%;
  height: auto;
  border-radius: 5px;
}

#About div {
  margin-left: 100px;
  display: inline;
}

header {
  background-color: #3d84a8;
  color: #eeede7;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

header h1 {
  margin-left: 280px;
}

#Work {
  text-align: center;
  margin-bottom: 100px;
}

#Work div {
  display: inline-block;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 5px;
  background-color: #abedd8;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  color: #48466d;
  animation: fadeOut .8s;
}

#Resume{
    margin-bottom: 100px;
}

#Contact{
    display: block;
}

@keyframes fadeIn {
    0% { opacity: .2; }
    100% { opacity: 1; }
  }

@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: .2; }
  }

#Robotics:hover{
    background-image: url('content/Telephone.jpg');
    background-size: cover;
    color: #ffffff00;
    animation: fadeIn .8s;
}

#Software:hover{
    background-image: url('content/GameScreenShot.png');
    background-size: cover;
    color: #ffffff00;
    animation: fadeIn .8s;
}

#Drums:hover{
    background-image: url('content/DrumImage.jpg');
    background-size: cover;
    color: #ffffff00;
    animation: fadeIn .8s;
}

footer{
    margin-top: 100px;
    text-align: left;
}